@import "https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css";
@import "https://newcss.net/theme/night.css";
a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  i {
    padding-left: 10px;
    padding-right: 10px;
  }

  /*https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
@import url("https://newcss.net/theme/night.css");*/